/* You can add global styles to this file, and also import other style files */


.emoji {
    font-size: 150%;
    line-height: 25px;
    width: 25px;
    height: 25px;
    text-align: center;
    display: table-cell;
    cursor: crosshair;
}

.emoji-hover:hover:after {
    width: 26px;
    height: 26px;
    background-color: rgba(150, 150, 150, 0.18);
    border-radius: 100%;
    content: " ";
    position: absolute;
    margin-left: -26px;
    margin-top: -2px;
}