.picker-button{
    border-color: #d9d9d9;
}

.picker-button:focus{
    box-shadow: none !important;
    outline: none !important;
}

.picker-shown{
    border-bottom-style: none;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}