.emoji {
    font-size: 150%;
    line-height: 25px;
    display: inline-block;
    cursor: crosshair;
}

.noselect{
    user-select: none;
}
.wrapper{
    padding: 5px;
}

.my-sidebar {
    -ms-flex: 0 0 368px;
    flex: 0 0 368px;
}